body {
    margin: 0px auto; 
    width: 55%;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

header > nav {
    height: 100%;
}

header {
    height: 100px;
}

#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
}

main h1 {
    font-size: 70px;
    font-weight: bold;
}

 main h2 {
    font-size: 40px;
}

.mainpanel{
    margin: 30px;
 }

 #mainpanel-content {
    margin: 50px;
}

#logo-icon {
   margin-left: 300px;
   margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

footer {
    text-align: center;
}